.register {
    margin-top: 200px;
}
.register-page__title {
    padding-bottom: 20px
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    margin: 50px auto;
}

.register-form__input {
    width: 100%;
    margin-top: 10px;
}



.register-form__submit {
    margin-top: 30px;
}

.register-form__message-valid {
    font-size: 12px;
    color: #e71b1b;
    margin-top: 20px;
}
